@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


:root {
    --background: rgb(203, 196, 188);
    --font: rgb(0, 0, 0);
    --border: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--background);
    color: var(--font);
    line-height: 1.6;
}

/* Default */

h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0 0 30px 0;
    color: rgb(160, 110, 230);
    margin-bottom: 50px;
}

h2 {
    font-size: 15px;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    font-weight: 400;
    /* margin: 0 0 30px 0; */
    color:rgb(160, 110, 230);
    font-family: 'Krona One', sans-serif;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    /* text-decoration: underline; */
    margin: 0 0 20px 0;
    color:rgb(160, 110, 230);
    padding: 12px;
    border: 3px solid rgb(160, 110, 230);
    margin-bottom: 42px;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: var(--font);
    text-decoration: none;
    line-height: 1.6;
    cursor: pointer;
}

.visible {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.05s linear;
}

.invisible {
    opacity: 0;
    z-index: 0;
    transition: opacity 0.05s linear, z-index 0.05s step-end;
}

/* Karte page */

.Karte {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.Karte .container {
    display: flex;
    width: 100vw;
    /* align-items: center; */
    /* padding: 120px 60px 120px 60px; */
    overflow-x: hidden;
    background-color: #fff
}

.Karte .container .header {
    /* background-color:rgb(160, 110, 230); */
    color: black;
    padding: 120px 120px 30px 120px;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.4;
    /* background-image: url("./assets/images/timm.png"); */
}

.Karte .container .picture {
    width: 100vw;
    margin: 0;
    line-height: 0;
    /* border-bottom: 3px solid #fff; */
    /* padding: 0 120px; */
}


.Karte .container .body {
    padding: 30px 120px 0 120px;
}

.Karte .container .body img {
    width: 100vw;
}

.Karte .container .foto-info {
    margin: 0;
    padding: 16px 120px 10px 120px;
    background-color:rgb(160, 110, 230);
    color: #fff;
    /* border-bottom: 2px solid #fff; */
    border-top: 2px solid #fff;
    font-size: 12px;
    text-align: end;
}

.Karte .container .intro {
    font-size: 20px;
    line-height: 1.8;
    /* font-family: 'Krona One', sans-serif; */
    color: #fff;
    padding: 46px 120px 60px 120px;
    margin: 0;
    background-color:rgb(160, 110, 230);
}

.Karte .container .question {
    font-weight: 500;
    /* text-decoration: underline; */
    color:rgb(160, 110, 230);
    font-size: 16px;
    font-family: 'Krona One', sans-serif;
    line-height: 1.8;
}

.Karte .container .date {
    margin: 30px 120px 40px 120px;

}

.Karte .container .footer {
    height: 60px;
    background-color:rgb(160, 110, 230);
}

/* Navigation component */

.Navigation {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    /* border-bottom: 3px solid black; */
    z-index: 2;
}

.Navigation .links:first-child {
    margin-left: 60px;
}

.Navigation .links .link:not(:first-child) {
    margin-left: 40px;
}

.Navigation .link {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--font);
    text-decoration: none;
    line-height: 1.6;
    cursor: pointer;
}

.Navigation .home {
    margin-right: 60px;
    /* background-color: #000; */
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    /* text-decoration: underline; */
    padding: 12px;
    /* border: 3px solid black; */
}

/* Map component */

.Map {
    position: absolute;
    top: 0;
    z-index: 1;
}

#map-content {
    width: 100vw;
    height: 100vh;
}

.marker {
    width: 30px;
    height: 30px;
    /* background-color:rgb(238, 238, 30); */
    border-radius: 50%;
    cursor: pointer;
}

/* Interviews page */

.Interviews {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.Interviews .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 60px;
    margin-top: 60px;
    z-index: 2;
}

.Interviews .content > * {
    margin: 30px 0 0 0;
}

/* .Interviews .content span {
    margin-right: 10px;
} */

/* Register page */

.Register {
    border: 2px solid yellow;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 2;
}

.Register .content {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 60px;
    margin-top: 60px;
    z-index: 2;
    margin: 60px 0 0 60px;
}

/* Ueber page */

.Ueber {
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 2;
}

.Ueber .content {
    margin: 60px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

