@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


:root {
    --background: rgb(255, 255, 255);
    --font: rgb(0, 0, 0);
    --font-white: rgb(255, 255, 255);
    --border: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--background);
    color: var(--font);
    line-height: 0;
}

/* Default */

h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0 0 30px 0;
    margin-bottom: 50px;
}

h2 {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Krona One', sans-serif;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    padding: 12px;
    margin-bottom: 42px;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: var(--font);
    text-decoration: none;
    line-height: 1.6;
    cursor: pointer;
}

.visible {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.05s linear;
}

.invisible {
    opacity: 0;
    z-index: 0;
    transition: opacity 0.05s linear, z-index 0.05s step-end;
}

/* Navigation component */

.Navigation {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    /* border-bottom: 3px solid black; */
    z-index: 2;
}

.Navigation .links:first-child {
    margin-left: 60px;
}

.Navigation .links .link:not(:first-child) {
    margin-left: 40px;
}

.Navigation .link {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--font);
    text-decoration: none;
    line-height: 1.6;
    cursor: pointer;
}

.Navigation .home {
    margin-right: 60px;
    /* background-color: #000; */
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    /* text-decoration: underline; */
    padding: 12px;
    /* border: 3px solid black; */
}

/* Map component */

.Map {
    /* position: absolute; */
    /* top: 0; */
    /* z-index: 1; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#map-content {
    width: 100vw;
    height: 100vh;
    /* z-index: 1; */
}

.marker {
    width: 30px;
    height: 30px;
    /* background-color:rgb(238, 238, 30); */
    border-radius: 50%;
    cursor: pointer;
}

.PopUp {
    line-height: 1.4;
    padding: 50px 40px 60px 60px;
    border-radius: 0;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    margin: 60px 60px 0 0;
    width: 25%;
    /* min-height: 40%; */
}

.PopUp .snippet {
    margin: 0 0 40px 0;
}

.PopUp .link {
    color: var(--font);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px;
    border: 3px solid black;
}

.PopUp .link:hover {
    
}






/* Interviews page */

.Interviews .container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

/* InterviewsRow component */

.InterviewsRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 60px;
    line-height: 1.6;
}

.InterviewsRow .tag {
    margin: 30px 0 0 0;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--font);
    border: 3px solid var(--border);
}

.InterviewsRow .subtitle {
    margin: 30px 0 30px 0;
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
    color: var(--font);
    text-decoration: none;
    cursor: pointer;
}

/* Interview page */

.Interview .container {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.Interview header {
    padding: 120px 120px 30px 120px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.4;
}

.Interview .header-picture-container img {
    width: 100%;
}

.Interview .container article {
    padding: 30px 240px 0 240px;
    line-height: 1.6;
}

.Interview .picture-description {
    padding: 16px 240px 10px 240px;
    font-size: 12px;
    text-align: end;
    color: var(--font-white);
}

.Interview .intro {
    font-size: 20px;
    line-height: 1.6;
    color: var(--font-white);
    padding: 46px 240px 60px 240px;
    margin: 0;
}

.Interview .container .question {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Krona One', sans-serif;
    line-height: 1.8;
}

.Interview .container .publishing-date {
    margin: 30px 0;
}

/* Footer component */

footer {
    font-size: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

footer span {
    display: flex;
}

footer span > * {
    margin-left: 30px;
}

/* Register page */

.Register {
    min-height: 100vh;
    display: flex;
    background-color: #fff;
}

.Register .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 60px;
    margin-top: 60px;
}

.Register .content > * {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.Register .content > *:not(:last-child) {
    border-bottom: 3px solid #000;
}

.Register .content .word {
    margin-right: 30px;
}

.Register .content .link {
    margin-right: 20px;
}

.Register .content .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Ueber page */

.Ueber {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    background-color: #fff;
    background-size: cover;
    background-position: center top;
    object-fit: cover;
    overflow-x: hidden;
}

.Ueber .content {
    margin: 90px 60px;
    display: flex;
    flex-direction: column;
}

.Ueber .content > * {
    color: #000;
}

.Ueber .content h1 {
    color: #000;
    font-size: 50px;
    margin-bottom: 30px;
    /* line-height: 1.8; */
}

